<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Class List</title>
    <style type="text/css">
    .tftable {font-size:15px;color:#333333;width:90%;border-width: 1px;border-color: #a9a9a9;border-collapse: collapse;margin:20px;}
    .tftable th {font-size:15px;background-color:#cdcdcd;border-width: 1px;padding: 8px;border-style: solid;border-color: #a9a9a9;text-align:center;}
    .tftable tr {background-color:white;}
    .tftable td {font-size:15px;border-width: 1px;padding: 8px;border-style: solid;border-color: #eeeeee;}
    .tftable .btn {text-align:center;}
    .tb1 {width:100%;margin:0px;}
    #class-redirect {text-align:right;}
    </style>
</head>
<body>
<div>
    <div id="class-redirect">
    <input type="button" value="Lớp học >" th:onclick="|window.location.href='@{'/staff/' + ${staffId} + '/class/view/view'}'|"/>
    </div>
    <table th:if="${mode != 'delete'}" class="tftable" border="0">
        <form action="#" th:action="@{'/staff/' + ${staffId} + '/staff' + ${mode == 'update' ? '/update' : '/insert'}}" method="post" autocomplete="no">
            <div th:if="${mode != 'view' && mode != 'delete'}">
                <tr><th th:text="${mode}"></th></tr>
                <tr>
                    <td>Mã NV</td>
                    <td>
                        <div th:if="${mode == 'insert'}">
                            <input name="staffId" type="text"/>
                        </div>
                        <div th:if="${mode == 'update'}">
                            <input name="staffId" type="text" th:value="${staffId}" readonly/>
                        </div>
                    </td>
                    <td>Họ tên</td>
                    <td><input name="name" type="text"/></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input name="email" type="text"/></td>
                    <td>Lương</td>
                    <td><input name="salary" type="number"/></td>
                </tr>
                <tr>
                    <td>Tên đăng nhập</td>
                    <td><input name="username" type="text"/></td>
                    <div th:if="${mode == 'insert'}">
                        <td>Mật khẩu</td>
                        <td><input name="password" type="password"/></td>
                    </div>
                </tr>
            </div>

            <tr>
                <td colspan="4">
                <table class="tftable tb1" border="1">
                    <tr><th>Mã nhân viên</th><th>Họ tên</th><th>Email</th><th>Lương</th>
                    <tr th:each="staff: ${staffList}">
                        <td th:text="${staff.id}"/>
                        <td th:text="${staff.name}"/>
                        <td th:text="${staff.email}"/>
                        <div th:if="${staff.salary != 0}">
                            <td th:else th:text="${staff.salary}"/>
                        </div>
                        <div th:if="${staff.salary == 0}">
                            <td/>
                        </div>
                    </tr>
                </table>
                </td>
            </tr>
            <tr>
                <td class="btn" colspan="4">
                    <input type="button" value="Thêm" th:onclick="|window.location.href='@{'/staff/' + ${staffId} + '/staff/insert'}'|" th:hidden="${mode != 'view'}"/>
                    <input type="button" value="Xóa" th:onclick="|window.location.href='@{'/staff/' + ${staffId} + '/staff/delete'}'|" th:hidden="${mode != 'view'}"/>
                    <input type="button" value="Sửa" th:onclick="|window.location.href='@{'/staff/' + ${staffId} + '/staff/update'}'|" th:hidden="${mode != 'view'}"/>
                    <input type="button" value="Thoát" th:onclick="|window.location.href='@{'/logout/' + ${staffId}}'|" th:hidden="${mode != 'view'}"/>
                    <input type="submit" value="Ghi/Lưu" th:hidden="${mode == 'view' || mode == 'delete'}"/>
                    <input type="button" value="Không" th:onclick="|window.location.href='@{'/staff/' + ${staffId} + '/staff/view'}'|" th:hidden="${mode == 'view'}"/>
                </td>
            </tr>
        </form>
    </table>
    <table th:if="${mode == 'delete'}" class="tftable" border="1">
        <tr><th>Mã nhân viên</th><th>Họ tên</th><th>Email</th><th>Lương</th>
        <tr th:each="staff: ${staffList}">
            <td th:text="${staff.id}"/>
            <td th:text="${staff.name}"/>
            <td th:text="${staff.email}"/>
            <div th:if="${staff.salary != 0}">
                <td th:else th:text="${staff.salary}"/>
            </div>
            <div th:if="${staff.salary == 0}">
                <td/>
            </div>

            <td class="btn" th:hidden="${mode != 'delete'}">
                <form action="#" th:action="@{'/staff/' + ${staffId} + '/staff/' + ${staff.id} + '/delete'}" method="post">
                    <input type="submit" value="Xóa"/>
                </form>
            </td>
        </tr>
        <tr>
            <td class="btn" colspan="4">
                <input type="button" value="Không" th:onclick="|window.location.href='@{'/staff/' + ${staffId} + '/staff/view'}'|" th:hidden="${mode == 'view'}"/>
            </td>
        </tr>
    </table>
</div>
</body>
</html>